<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="GX7_250721">
  <!-- <link name='base'>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link> -->
  <!-- <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 -1.5707963 0" />
    <parent link="base" />
    <child link="base_link" />
  </joint> -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.0274930353454992 -0.000409013429680083 -3.27831491615544E-05" rpy="0 0 0" />
      <mass value="0.256026695560241" />
      <inertia ixx="0.000235220758432564" ixy="1.57058009239358E-06" ixz="-3.97644730426854E-08" iyy="0.000176101171516271" iyz="-2.0765820762497E-09" izz="0.000143648343239421" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -1.5707963 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="Link1">
    <inertial>
      <origin xyz="3.42331582698432E-05 -0.00615070830883169 0.045441414335323" rpy="0 0 0" />
      <mass value="0.199944778371756" />
      <inertia ixx="0.000105310524776941" ixy="7.72414908497753E-08" ixz="-1.22069582386936E-07" iyy="0.000108278170528254" iyz="1.32707068320629E-05" izz="0.000110091864987786" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <origin xyz="0 0 0.0695" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Link1" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="5" velocity="3.2" />
  </joint>
  <link name="Link2">
    <inertial>
      <origin xyz="3.57478285241408E-05 -0.0648142611532107 -0.0170388524171526" rpy="0 0 0" />
      <mass value="0.228921845581474" />
      <inertia ixx="0.000121896590956616" ixy="-5.47040998057354E-08" ixz="1.7591846865638E-08" iyy="0.000129876873318749" iyz="-1.85205029548178E-07" izz="0.000112376237790567" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint2" type="revolute">
    <origin xyz="0 0.0235 0.05" rpy="1.5707963 -1.5707963 3.1415926" />
    <parent link="Link1" />
    <child link="Link2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="3.141592615" effort="5" velocity="3.2" />
  </joint>
  <link name="Link3">
    <inertial>
      <origin xyz="0.0326598113125078 0.00449984459345526 0.138689830558815" rpy="0 0 0" />
      <mass value="0.398505392302112" />
      <inertia ixx="0.000318782145734" ixy="-4.88423152635362E-07" ixz="-2.11596903397604E-05" iyy="0.000383380918375134" iyz="-3.23906185564181E-06" izz="0.000219257710198787" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint3" type="fixed">
    <origin xyz="0 -0.1105 -0.0235" rpy="1.5707963 0 0" />
    <parent link="Link2" />
    <child link="Link3" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="5" velocity="3.2" />
  </joint>
  <link name="Link4">
    <inertial>
      <origin xyz="-1.69331025184714E-05 0.122041744432167 -0.0258953598956025" rpy="0 0 0" />
      <mass value="0.303855366447481" />
      <inertia ixx="0.000197723786359296" ixy="-7.79687133167481E-08" ixz="4.37735694459056E-08" iyy="0.000199202404819191" iyz="-1.41765583034003E-05" izz="0.000204172640493018" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint4" type="revolute">
    <origin xyz="0.077 0.0235 0.21049" rpy="-1.5707963 0 0" />
    <parent link="Link3" />
    <child link="Link4" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="3.141592615" effort="5" velocity="3.2" />
  </joint>
  <link name="Link5">
    <inertial>
      <origin xyz="3.91006656345651E-05 -0.00947871926230947 0.0447583264076245" rpy="0 0 0" />
      <mass value="0.173878801075311" />
      <inertia ixx="8.79189498554315E-05" ixy="6.30711871736137E-08" ixz="-1.30739625911603E-07" iyy="9.80117845068452E-05" iyz="1.32675180670981E-05" izz="9.27269865673115E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link5.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint5" type="revolute">
    <origin xyz="0 0.217 -0.0235" rpy="-1.5707963 0 0" />
    <parent link="Link4" />
    <child link="Link5" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="5" velocity="3.2" />
  </joint>
  <link name="Link6">
    <inertial>
      <origin xyz="-4.41832281798255E-05 0.0563666942048115 0.00691078712529153" rpy="0 0 0" />
      <mass value="0.198186067117514" />
      <inertia ixx="0.000167958158990715" ixy="-6.05480200594174E-08" ixz="-3.61833254778945E-08" iyy="0.000114396204894756" iyz="-3.3801659679772E-05" izz="0.000154417906738699" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint6" type="revolute">
    <origin xyz="0 0.013 0.05" rpy="1.5707963 0 0" />
    <parent link="Link5" />
    <child link="Link6" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5707963" upper="1.5707963" effort="5" velocity="3.2" />
  </joint>
  <link name="Link7">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.01" ixy="0.01" ixz="0.01" iyy="0.01" iyz="0.01" izz="0.01" />
    </inertial>
    <!-- <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.08 0.08 0.08 1" />
      </material>
    </visual> -->

  </link>
  <joint name="joint7" type="revolute">
    <origin xyz="0 0.099 0.013" rpy="1.5707963 0 -3.141592616" />
    <parent link="Link6" />
    <child link="Link7" />
    <axis xyz="0 0 1" />
    <limit lower="-3.141592615" upper="3.141592615" effort="5" velocity="3.2" />
  </joint>
</robot>
