<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="raibo2">
<!--  <gear_ratio value="7.154"/>-->
<!--  <battery array="20s4p" cell="4.1V(max)"/> -->
  <material
    name="black">
    <color rgba="0.15 0.15 0.15 1.0"/>
  </material>
  <material
    name="blue">
    <color rgba="0.0 0.125 0.53 1.0"/>
  </material>
  <material
    name="white">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>
  <link
    name="TORSO">
    <inertial>
      <origin
        xyz="-0.00656127 -0.00245156 0.04792171"
        rpy="0 0 0" />
      <mass
        value="19.85853726" /> <!--6.78667481-->
      <inertia
        ixx="0.16133121"
        ixy="-0.02266443"
        ixz="-0.00329293"
        iyy="0.45026183"
        iyz="0.00163597"
        izz="0.57496634" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/TORSO.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.045"
        rpy="0 0 0" />
      <geometry>
        <box size="0.4200 0.28 0.105"/>
      </geometry>
    </collision>
  </link>
  <link
    name="LF_HIP">
    <inertial>
      <origin
        xyz="-0.03352808 -0.02183800 0.00003383"
        rpy="0 0 0" />
      <mass
        value="1.95398841" />
      <inertia
        ixx="0.00348543"
        ixy="-0.00143781"
        ixz="-0.00000041"
        iyy="0.00824115"
        iyz="-0.00000298"
        izz="0.00733533" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LF_HIP.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0.02652 0"/>
      <geometry>
        <cylinder length="0.17404" radius="0.0595"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_HAA"
    type="revolute">
    <origin
      xyz="0.34740000 0.10150000 0.04350000"
      rpy="0 0 0" />
    <parent
      link="TORSO" />
    <child
      link="LF_HIP" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
      rotor_inertia="0.022811353" />
  </joint>
  <link
    name="LF_THIGH">
    <inertial>
      <origin
        xyz="-0.00555044 -0.04710552 -0.02775098"
        rpy="0 0 0" />
      <mass
        value="3.12189597" />
      <inertia
        ixx="0.02699740"
        ixy="-0.00084218"
        ixz="0.00244569"
        iyy="0.02501054"
        iyz="-0.00419581"
        izz="0.00901983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LF_THIGH.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.04575 0 -0.20283"/>
      <geometry>
        <box size="0.05150 0.03446 0.23435"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_HFE"
    type="revolute">
    <origin
      xyz="0 0.09453000 0"
      rpy="0 0 0" />
    <parent
      link="LF_HIP" />
    <child
      link="LF_THIGH" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="LF_SHANK">
    <inertial>
      <origin
        xyz="-0.00047821 0.00002607 -0.07606014"
        rpy="0 0 0" />
      <mass
        value="0.32743890" />
      <inertia
        ixx="0.00335434"
        ixy="0.00000000"
        ixz="0.00002929"
        iyy="0.00336066"
        iyz="0.00000162"
        izz="0.00006285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LF_SHANK.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.528031849 0" xyz="0.00606 0 -0.14162"/>
      <geometry>
        <box size="0.1765 0.02586 0.029"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 1.708031849 0" xyz="0.00606 0 -0.2632"/>
      <geometry>
        <box size="0.07 0.02586 0.029"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="LF_KFE"
    type="revolute">
    <origin
      xyz="0 0 -0.32"
      rpy="0 0 0" />
    <parent
      link="LF_THIGH" />
    <child
      link="LF_SHANK" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.6417"
      upper="-0.41469"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="LF_FOOT">
    <inertial>
      <origin
        xyz="0.00070079 0.00010019 0.00430738"
        rpy="0 0 0" />
      <mass
        value="0.10268513" />
      <inertia
        ixx="0.00002730"
        ixy="0.00000000"
        ixz="-0.00000058"
        iyy="0.00002753"
        iyz="0.00000003"
        izz="0.00003039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LF_FOOT.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0275"/>
      </geometry>
      <material name="">
        <contact name="LF_FOOT_MATERIAL"/>
      </material>
    </collision>
  </link>
  <joint
    name="LF_S2F"
    type="fixed">
    <origin
      xyz="0 0 -0.30404017"
      rpy="0 0 0" />
    <parent
      link="LF_SHANK" />
    <child
      link="LF_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RF_HIP">
    <inertial>
      <origin
        xyz="-0.03353954 0.02183800 -0.00002608"
        rpy="0 0 0" />
      <mass
        value="1.95398841 " />
      <inertia
        ixx="0.00348565"
        ixy="0.00143707"
        ixz="0.00000079"
        iyy="0.00823964"
        iyz="-0.00000248"
        izz="0.00733359" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RF_HIP.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 -0.02652 0"/>
      <geometry>
        <cylinder length="0.17404" radius="0.0595"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_HAA"
    type="revolute">
    <origin
      xyz="0.34740000 -0.10150000 0.04350000"
      rpy="0 0 0" />
    <parent
      link="TORSO" />
    <child
      link="RF_HIP" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="RF_THIGH">
    <inertial>
      <origin
        xyz="-0.00550775 0.04710552 -0.02784740"
        rpy="0 0 0" />
      <mass
        value="3.12189613" />
      <inertia
        ixx="0.02697992"
        ixy="0.00084612"
        ixz="0.00244736"
        iyy="0.02499526"
        iyz="0.00418673"
        izz="0.00902204" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RF_THIGH.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.04575 0 -0.20283"/>
      <geometry>
        <box size="0.05150 0.03446 0.23435"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_HFE"
    type="revolute">
    <origin
      xyz="0 -0.09453000 0"
      rpy="0 0 0" />
    <parent
      link="RF_HIP" />
    <child
      link="RF_THIGH" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="RF_SHANK">
    <inertial>
      <origin
        xyz="-0.00047822 0.00007436 -0.07606014"
        rpy="0 0 0" />
      <mass
        value="0.32743890" />
      <inertia
        ixx="0.00335433"
        ixy="0.00000000"
        ixz="0.00002929"
        iyy="0.00336066"
        iyz="0.00000282"
        izz="0.00006285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RF_SHANK.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.528031849 0" xyz="0.00606 0 -0.14162"/>
      <geometry>
        <box size="0.1765 0.02586 0.029"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 1.708031849 0" xyz="0.00606 0 -0.2632"/>
      <geometry>
        <box size="0.07 0.02586 0.029"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RF_KFE"
    type="revolute">
    <origin
      xyz="0 0 -0.32"
      rpy="0 0 0" />
    <parent
      link="RF_THIGH" />
    <child
      link="RF_SHANK" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.6417"
      upper="-0.41469"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="RF_FOOT">
    <inertial>
      <origin
        xyz="0.00070079 0.00010019 0.00430738"
        rpy="0 0 0" />
      <mass
        value="0.10268513" />
      <inertia
        ixx="0.00002730"
        ixy="0.00000000"
        ixz="-0.00000058"
        iyy="0.00002753"
        iyz="0.00000003"
        izz="0.00003039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RF_FOOT.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0275"/>
      </geometry>
      <material name="">
        <contact name="RF_FOOT_MATERIAL"/>
      </material>
    </collision>
  </link>
  <joint
    name="RF_S2F"
    type="fixed">
    <origin
      xyz="0 0 -0.30404017"
      rpy="0 0 0" />
    <parent
      link="RF_SHANK" />
    <child
      link="RF_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="LH_HIP">
    <inertial>
      <origin
        xyz="0.03352808 -0.02183800 -0.00003383"
        rpy="0 0 0" />
      <mass
        value="1.95398841 " />
      <inertia
        ixx="0.00348543"
        ixy="0.00143781"
        ixz="-0.00000041"
        iyy="0.00824115"
        iyz="0.00000298"
        izz="0.00733533" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LH_HIP.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0.02652 0"/>
      <geometry>
        <cylinder length="0.17404" radius="0.0595"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="LH_HAA"
    type="revolute">
    <origin
      xyz="-0.34740000 0.10150000 0.04350000"
      rpy="0 0 0" />
    <parent
      link="TORSO" />
    <child
      link="LH_HIP" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="LH_THIGH">
    <inertial>
      <origin
        xyz="-0.00555677 -0.04710552 -0.02774420"
        rpy="0 0 0" />
      <mass
        value="3.12189597" />
      <inertia
        ixx="0.02699858"
        ixy="-0.00084178"
        ixz="0.00244526"
        iyy="0.02501151"
        iyz="-0.00419624"
        izz="0.00901962" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LH_THIGH.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.04575 0 -0.20283"/>
      <geometry>
        <box size="0.05150 0.03446 0.23435"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="LH_HFE"
    type="revolute">
    <origin
      xyz="0 0.09453000 0"
      rpy="0 0 0" />
    <parent
      link="LH_HIP" />
    <child
      link="LH_THIGH" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="LH_SHANK">
    <inertial>
      <origin
        xyz="-0.00047821 0.00002607 -0.07606014"
        rpy="0 0 0" />
      <mass
        value="0.32743890" />
      <inertia
        ixx="0.00335434"
        ixy="0.00000000"
        ixz="0.00002929"
        iyy="0.00336066"
        iyz="0.00000162"
        izz="0.00006285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LH_SHANK.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.528031849 0" xyz="0.00606 0 -0.14162"/>
      <geometry>
        <box size="0.1765 0.02586 0.029"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 1.708031849 0" xyz="0.00606 0 -0.2632"/>
      <geometry>
        <box size="0.07 0.02586 0.029"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="LH_KFE"
    type="revolute">
    <origin
      xyz="0 0 -0.32"
      rpy="0 0 0" />
    <parent
      link="LH_THIGH" />
    <child
      link="LH_SHANK" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.6417"
      upper="-0.41469"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="LH_FOOT">
    <inertial>
      <origin
        xyz="0.00070079 0.00010019 0.00430738"
        rpy="0 0 0" />
      <mass
        value="0.10268513" />
      <inertia
        ixx="0.00002730"
        ixy="0.00000000"
        ixz="-0.00000058"
        iyy="0.00002753"
        iyz="0.00000003"
        izz="0.00003039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/LH_FOOT.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0275"/>
      </geometry>
      <material name="">
        <contact name="LH_FOOT_MATERIAL"/>
      </material>
    </collision>
  </link>
  <joint
    name="LH_S2F"
    type="fixed">
    <origin
      xyz="0 0 -0.30404017"
      rpy="0 0 0" />
    <parent
      link="LH_SHANK" />
    <child
      link="LH_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RH_HIP">
    <inertial>
      <origin
        xyz="0.03353378 0.02183800 0.00003942"
        rpy="0 0 0" />
      <mass
        value="1.95398841" />
      <inertia
        ixx="0.00348577"
        ixy="-0.00143744"
        ixz="0.00000001"
        iyy="0.00824040"
        iyz="0.00000334"
        izz="0.00733422" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RH_HIP.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 -0.02652 0"/>
      <geometry>
        <cylinder length="0.17404" radius="0.0595"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RH_HAA"
    type="revolute">
    <origin
      xyz="-0.34740000 -0.10150000 0.04350000"
      rpy="0 0 0" />
    <parent
      link="TORSO" />
    <child
      link="RH_HIP" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="RH_THIGH">
    <inertial>
      <origin
        xyz="-0.00550663 0.04710552 -0.02784888"
        rpy="0 0 0" />
      <mass
        value="3.12189613" />
      <inertia
        ixx="0.02697952"
        ixy="0.00084619"
        ixz="0.00244741"
        iyy="0.02499506"
        iyz="0.00418663"
        izz="0.00902223" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RH_THIGH.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.04575 0 -0.20283"/>
      <geometry>
        <box size="0.05150 0.03446 0.23435"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RH_HFE"
    type="revolute">
    <origin
      xyz="0 -0.09453000 0"
      rpy="0 0 0" />
    <parent
      link="RH_HIP" />
    <child
      link="RH_THIGH" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="RH_SHANK">
    <inertial>
      <origin
        xyz="-0.00047821 0.00007436 -0.07606014"
        rpy="0 0 0" />
      <mass
        value="0.32743890" />
      <inertia
        ixx="0.00335433"
        ixy="0.00000001"
        ixz="0.00002929"
        iyy="0.00336066"
        iyz="0.00000282"
        izz="0.00006285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RH_SHANK.STL" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.528031849 0" xyz="0.00606 0 -0.14162"/>
      <geometry>
        <box size="0.1765 0.02586 0.029"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 1.708031849 0" xyz="0.00606 0 -0.2632"/>
      <geometry>
        <box size="0.07 0.02586 0.029"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="RH_KFE"
    type="revolute">
    <origin
      xyz="0 0 -0.32"
      rpy="0 0 0" />
    <parent
      link="RH_THIGH" />
    <child
      link="RH_SHANK" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.6417"
      upper="-0.41469"
      effort="90.8558"
      velocity="31.5" />
    <dynamics
       rotor_inertia="0.022811353" />
  </joint>
  <link
    name="RH_FOOT">
    <inertial>
      <origin
        xyz="0.00070079 0.00010019 0.00430738"
        rpy="0 0 0" />
      <mass
        value="0.10268513" />
      <inertia
        ixx="0.00002730"
        ixy="0.00000000"
        ixz="-0.00000058"
        iyy="0.00002753"
        iyz="0.00000003"
        izz="0.00003039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/RH_FOOT.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.0275"/>
      </geometry>
      <material name="">
        <contact name="RH_FOOT_MATERIAL"/>
      </material>
    </collision>
  </link>
  <joint
    name="RH_S2F"
    type="fixed">
    <origin
      xyz="0 0 -0.30404017"
      rpy="0 0 0" />
    <parent
      link="RH_SHANK" />
    <child
      link="RH_FOOT" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
